.private-message {
  .chat-container {
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
    margin-top: 24px;
    max-width: 100%;
    margin-bottom: 10px;
    padding: 30px;
    flex: auto;
    align-items: center;
    background-color: #000c37;
    overflow-y: auto;
  }

  .chat-messages {
    height: 350px;
    overflow-y: scroll;
    padding: 10px;
  }

  .chat-input {
    display: flex;
    padding: 12px;
    // background-color: #ccc;
    border-radius: 20px;
  }

  select {
    background-color: hwb(244 4% 0%);
    color: #fff;
    :hover {
      cursor: pointer;
    }
  }

  option {
    border-radius: 0%;
    :hover {
      background: #f2ecff;
    }
  }

  input[type="text"] {
    flex: 1;
    padding: 12px;
    border: 1px solid #f2ecff;
    border-radius: 6px;
    margin-right: 10px;
    // background-color: #ccc;
  }

  // button {
  //   background-color: #4caf50;
  //   color: #fff;
  //   border: none;
  //   padding: 8px 16px;
  //   border-radius: 5px;
  //   cursor: pointer;
  // }

  // button:hover {
  //   background-color: #45a049;
  // }

  .message {
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    padding: 2px 2px;
    margin-bottom: 5px;
  }
}

// body .private-message{
//   background-image: radial-gradient(circle, #808080, #626166, #45444d, #292835, #0f0e1f);
//   padding-bottom: 80px;
// }
