/* Pagination.css */

.pagination {
  .pagination-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Adjust z-index as needed */
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  }

  .pagination-button {
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 5px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #45a049;
    }

    &:disabled {
      background-color: #ddd;
      color: #999;
      cursor: not-allowed;
    }
  }

  .pagination-button.active {
    background-color: #45a049;
  }

  .pagination-icons {
    font-size: 20px;
    margin-right: 5px;
  }

  @media (max-width: 768px) {
    .pagination-button {
      padding: 8px 15px;
      font-size: 14px;
    }

    .pagination-icons {
      font-size: 16px;
    }

    .pagination {
      flex-direction: column; /* Stack items vertically on smaller screens */
    }
  }
}
