.dashboard-card {
  display: flex;
  flex-wrap: wrap;
}

.uk-card {
  position: relative; /* Added position relative for absolute positioning */
  transition: transform 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8), box-shadow 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  flex: 1 1 calc(50% - 20px);
  background-color: #000c37;
  color: #fff;
  overflow: hidden;
}

.uk-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.uk-card-title {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
}

.uk-card-body {
  padding: 20px;
}

.number {
  font-size: 2rem;
  font-weight: bold;
  color: #3498db;
}

.button-section {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.button-section button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-section button:hover {
  background-color: #217dbb;
}

