*{
  overflow-x: hidden;
}

.custom-modal-style {
  .uk-modal-dialog {
    border-radius: $border-radius;
  }

  .uk-modal-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: $grey-color;
  }

  .sub-heading {
    margin-bottom: 0.2em;
    text-transform: uppercase;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .confirm-delete-dialog {
    width: 320px !important;
    padding: 10px;

    .uk-modal-title {
      font-size: 1rem;
      font-weight: 500;
      color: rgb(39, 39, 39);
      margin: 8px 0px;
    }
  }
}

.back {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: $secondary-btn;
  line-height: 1;
  margin: 0;

  span {
    transition: 0.3s all ease-in-out;
  }

  &:hover {
    cursor: pointer;

    span {
      margin-right: 5px;
    }
  }
}

.uk-input,
.uk-select,
.uk-textarea,
button {
  border-radius: $border-radius !important;
  text-transform: none !important;
}

th {
  text-transform: capitalize !important;
}

label {
  text-transform: capitalize !important;
}

.clear-filter {
  background-color: transparent;
  border: none;
  text-transform: none;
  color: $primary-color;
  margin: 0em;
  padding: 0;
  font-weight: $font-weight-heading;

  &:hover {
    cursor: pointer;
  }
}

.section-toolbar {
  .go-back {
    color: grey !important;
    font-size: 14px !important;
    font-weight: bolder !important;
    transition: all 0.2s ease-in-out;

    span {
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      cursor: pointer;
      color: $primary-color;

      span {
        margin-right: 5px;
      }
    }
  }
}

// number inputs remove arrows
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}