.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  &.full-width-loader {
    height: calc(100vh - 100px) !important;
  }
}

.lds-ring {
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #000c37;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-top: 20px;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  // display: inline-block;
  // position: relative;
  // width: 60px;
  // height: 60px;

  // .loader {
  //   width: 48px;
  //   height: 48px;
  //   background: #fff;
  //   border-radius: 50%;
  //   display: inline-block;
  //   position: relative;
  //   box-sizing: border-box;
  //   animation: rotation 1s linear infinite;
  // }
  // .loader::after {
  //   content: "";
  //   box-sizing: border-box;
  //   position: absolute;
  //   left: 6px;
  //   top: 10px;
  //   width: 12px;
  //   height: 12px;
  //   color: #000c37;
  //   background: currentColor;
  //   border-radius: 50%;
  //   box-shadow: 25px 2px, 10px 22px;
  // }

  // @keyframes rotation {
  //   0% {
  //     transform: rotate(0deg);
  //   }
  //   100% {
  //     transform: rotate(360deg);
  //   }
  // }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000c37;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(24px, 0);
    }
  }
}
