.sticky {
  nav {
    background-color: #000c37 !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.02), 0 1px 10px rgba(0, 0, 0, 0.08);

    .uk-navbar-right {
      a,
      .user-profile {
        color: #01aced;
        min-height: 60px;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.user-profile {
  background-color: transparent;
  border: 0;
  outline: none;

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 3.5em;
    width: 3.5em;
    background-color: #fff;
    transition: all 0.3s ease-in-out;

    span {
      h3 {
        color: #000c37;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.profile-dropdown-container {
  padding: 0em;

  .profile-dropdown {
    padding: 0;

    li {
      margin: 0;

      button {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0.5em 1em;
        width: 100%;
        background-color: transparent;
        border: 0;
        outline: none;
        min-height: auto !important;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: $light-bg;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}

.announcements-container {
  background-color: #F2ECFF;
  border: 1px solid #000c37;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.announcement-item{
  display: flex;
  flex-direction:row;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 1px solid #000c37;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

.announcement-item p {
  margin: 20px, 10px;
}

.announcement-item:hover{
  background-color: #E5E5E5;
}

.announcements-header{
  text-align: center;
  padding: 10px 25px;
  color:#444444;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
//,backgroundColor:"#1e1c3c",color:"white"

@media screen and (min-width: 967px) {
  .navbar-right {
    margin-right: 2em;
  }
}
