.sticky {
  nav {
    background-color: #000c37 !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em 2em;

    .uk-navbar-toggle {
      color: #fff;
    }

    .navbar-nav {
      @media screen and (max-width: 966px) {
        display: none;
      }

      li {
        margin: 0 1em;

        a {
          color: #fff;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: #01aced;
          }
        }
      }
    }

    .navbar-right {
      .user-profile {
        display: flex;
        align-items: center;

        .profile-circle {
          border-radius: 50%;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          .initials {
            color: #fff;
            font-size: 1.2em;
            font-weight: bold;
          }
        }

        .profile-info {
          padding-left: 1em;

          .welcome-message {
            color: #fff;
            font-size: 14px;
            margin: 0;
          }

          .user-name {
            font-weight: bold;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
