.purchase-order {
    .purchase-accordion {
        border-radius: $border-radius;
        padding: 8px 8px;
        margin: 0px 2px 10px 2px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        background-color: $muted-color;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            background-color: $hover-color;
            cursor: pointer;
        }
    }

    .uk-card {
        border-radius: $border-radius;
        border-bottom: 3px solid $tertiary-color;
        padding: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        background-color: $muted-color;

        &:hover {
            background-color: $hover-color;
        }
    }
}